*{
    font-family: 'Roboto', sans-serif; 
}

.content{
    padding: 1rem;
}

.content h1{
    margin: 0;
}

ol.pokemons{
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
ol.pokemons li{
    padding: 1.5rem 1rem;
    margin: .5rem;
    background-color: #14a06f;
    border-radius: .7rem;
    height: 100px;

}